h1 {
    color: blue;
    text-align: right;
    font-size: 70px;
}

h2 {
    text-align: right;

}

form {
    border: 20px;
    columns: inherit;
    width: 450px;
    height: 350px;
    background-color: white;
    font-size: 200;
    color: black;
    margin: 120px;
    float: left;
position: relative;
transform: translateX(8%);
transform: translatey(0%);

}

.qa {
    text-align: right;
    font-size: x-large

}

.zx {
    text-align: right;
    font-size: x-large


}

.we {
    background-color: blue;
    color: white;
    text-align: center;
    margin-left: 8px;
    font-size: xx-large;


}

.cv {
    text-align: right;
    background-color: green;
    color: white;
    margin-left: 8px;
    font-size: x-large

}
.adel{
    position: relative;
    top: 350px;
    margin-right: 450px;
    
}
body{
    background-color: #90E0EF;
}